:root {
  --artistImageSize: 10em;
  --artistNameHeight: 4em;
}

.Artists {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Artist {
  cursor: pointer;
  margin: 1em;
  height: calc(var(--artistImageSize) + var(--artistNameHeight));
  width: var(--artistImageSize);
  overflow: hidden;
  transition: 120ms;
  background-color: var(--fgColor);
}

.Artist:hover {
  scale: 1.03;
  box-shadow: 0px 0px 7px var(--fgColor);
}

.Artist__Image {
  height: var(--artistImageSize);
  width: 100%;
  border-bottom: 4px solid var(--bgColor);
  object-fit: cover;
}

.Artist__Name {
  color: var(--bgColor);
  position: relative;
  top: -0.4em;
}
