.Track {
  cursor: pointer;
  transition: 420ms;

  border: 1px solid var(--bgColor);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1em auto;
  margin-top: 0;
  padding: .5em .3em;

  background: rgb(0, 0, 0);
  background: linear-gradient(
    30deg,
    #33333353 0%,
    #00000053 45%,
    #22222253 89%
  );
  box-shadow: 0px 0px 10px 0px #00000022;

  border-radius: 5px;

  width: 91%;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.Track:active {
  scale: 0.97;
  box-shadow: 0px 0px 10px 0px #00000055;
  border: 1px solid #888;
}

.Track:hover {
  border: 1px solid #888;
  transition: 120ms;
}

.Track__Header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.Track__Header__PlayPauseButton {
  width: 32px;
  height: 32px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--fgColor);
  margin: .6em;
  cursor: pointer;
}

.Track__Header__PlayPauseButton svg {
  color: var(--fgColor);
}
.Track__Header__PlayPauseButton:hover,
.Track__Header__PlayPauseButton:hover * * {
  filter: drop-shadow(0 0 4px #00000066);
  color: var(--buttonHoverBorderColor);
}

.Track__Header__AlbumCover {
  width: 65px;
  height: 65px;
  margin-left: 10px;
  box-shadow: 0px 0px 10px -1px #000;
}
.Track__Header__AlbumCover img {
  border-radius: 2px;
  width: 64px;
  height: 64px;
}
.Track__Header__AlbumCover:hover img {
  scale: 1.03;
  box-shadow: 0px 0px 10px -5px #000;
}

.Track__Body {
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  flex: 10;
  overflow: hidden;
}

.Track__Body * {
  overflow: hidden;
  text-overflow: ellipsis;
}

.Track__Body__Artists__Artist:hover {
  text-decoration: underline;
}

.Track__Body__Artists__Comma {
  color: var(--fgColor);
  pointer-events: none;
  cursor: default;
  text-decoration: none !important;
}
.Track__Body__Artists__Comma::after {
  content: "  ";
  text-decoration: none !important;
}

.Track__Like {
  /*flex: 2.5;*/
}

.Track__Duration {
  color: #888;
  font-size: 14px;
  padding-right: 1em;
}
