.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Navbar__Logo {
  display: flex;
}

.Navbar__Logo * {
  color: #ccc;
  font-family: var(--importantFont), monospace;
}

.Navbar__Logo > * {
  padding-right: 1em;
}

.Navbar__BurgerButton {
  padding: 1em;
  padding-bottom: .9em;
  margin: 0;
  height: var(--navbarWidgetHeight);
}

.Navbar__Links {
  position: absolute;
  border: 1px solid var(--buttonHoverBorderColor);
  margin-top: 0.4em;
  margin-left: -2.8em;
  border-radius: 8px;
  background-color: var(--bgColor);
  z-index: 1;
}

.Navbar__Links > * {
  display: flex;
  flex-direction: column;
}

.Navbar__Links button {
  border-radius: 0;
}

.Navbar__Links A:first-child button {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.Navbar__Links A:last-child button {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

@media only screen and (max-width: 1200px) {
  .Navbar {
    margin-top: 2.5em;
  }
}
