.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Navbar__BurgerButton {
  padding: 1em;
  margin: 0;
}

.Navbar__Links {
  position: absolute;
  border: 1px solid var(--fgColor);
  border-radius: 8px;
  background-color: var(--bgColor);
}

.Navbar__Links > * {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
}

.Logo {
  display: flex;
}

.Logo > * {
  padding-right: 1em;
}
