.Link {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 5px;
  margin: 1em;
  margin-bottom: 1.5em;
  width: 40vw;
  max-width: 530px;
  cursor: pointer;
}

.Link--artist {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    30deg,
    rgba(2, 0, 36, 1) 0%,
    var(--bgColor) 45%,
    rgba(18, 16, 29, 1) 89%
  );
}

.Link--album {
  background: rgb(56, 32, 62);
  background: linear-gradient(
    30deg,
    rgba(46, 32, 62, 1) 0%,
    rgba(58, 58, 58, 1) 45%,
    rgba(56, 32, 62, 1) 89%
  );
}

.Link--track {
  background: rgb(0, 0, 0);
  background: linear-gradient(30deg, #33333388 0%, #00000055 45%, #222222ee 89%);
  font-size: 1em;
  padding: 1.4em 0;
  width: 100% !important;
  flex-direction: row !important;
  justify-content: start !important;
  margin-bottom: 0;
  min-height: 100px;
}

.Link--album:hover,
.Link--artist:hover {
  transition: 100ms;
  scale: 1.02;
}

.Link--track .Link__Data {
  font-size: 1em;
  text-align: left;
}

.Link__Image {
  width: 150px;
  border: 2px solid var(--fgColor);
  height: 150px;
  object-fit: cover;
  margin: 2em;
  min-width: 200px;
  min-height: 200px;
}

.Link--artist .Link__Image {
  border-radius: 50%;
  border: 0;
  box-shadow: 0 0 10px #000;
}

.Link--album .Link__Image {
  border-radius: 0;
  border: 0;
  box-shadow: 3px 3px 5px black;
}

.Link--track .Link__Image {
  margin-bottom: 2em;
  min-width: unset;
  min-height: unset;
}

.Link__Data {
  width: 100%;
  min-width: 0;
  text-align: left;
  color: var(--fgColor);
  margin-right: 2em;
}

.Link__Data h4 {
  font-size: 1em;

  /* max 2 lines of text before putting '...' */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  line-clamp: 1;
  -webkit-line-clamp: 2;
  line-height: 1.2;
  max-height: calc(1.2em * 2);
}

.Link__Data h5 {
  color: var(--fgColor2);
}

.Link--track .Link__Data > * {
  margin: 0.1em 0;
}

.Link__PlayButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2.5em;
}

.Link__TrackNumber {
  margin-left: 1.2em;
}

code {
  font-size: 1em !important;
}

@media only screen and (max-width: 1300px) {
  .Link__PlayButton {
    margin-left: 1em;
  }
}

@media only screen and (max-width: 960px) {
  .Link {
    width: 87vw;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1.7em auto;
  }

  .Link__Image {
    margin-bottom: 0;
    width: calc(40vw + 20px);
    height: calc(40vw + 20px);
  }

  .Link__Data {
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: calc(2vw + 10px);
  }

  .Link--track {
    margin: 1em auto 0 auto;
  }

  .Link--track .Link__Image {
    margin: 14px;
    width: 80px;
    height: 80px;
  }

  .Link--track .Link__Data {
    width: 70%;
    min-width: 0;
    font-size: 1em;
  }

  .Link__Data h4 {
    margin: 1.3em auto 0 auto;
  }

  .Link--track .Link__Data h4 {
    /* limit to 1 line before '...' on small screens */
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
