.Artists {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Artist {
  display: flex;
  align-items: center;
  border-radius: 5px;
  margin: 1em;
  margin-bottom: 1.5em;
  background: rgb(2,0,36);
  background: linear-gradient(30deg, rgba(2,0,36,1) 0%, var(--bgColor) 45%, rgba(18,16,29,1) 89%);
  transition: 200ms;
}

.Artist:hover {
  scale: 1.03;
}

.Artist__Image {
  width: 150px;
  border: 2px solid var(--fgColor);
  border-radius: 50%;
  height: 150px;
  object-fit: cover;
  margin: 2em;
}

.Artist__Data {
  color: var(--fgColor);
  margin-right: 2em;
}
