:root {
  --artistImageSize: 10em;
  --artistNameHeight: 4em;
}

.Artists {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Artist {
  cursor: pointer;
  margin: 1em;
  border-radius: 5px;
  height: calc(var(--artistImageSize) + var(--artistNameHeight));
  width: var(--artistImageSize);
  overflow: hidden;
  background-color: var(--fgColor);
}

.Artist:hover {
  box-shadow: 0 0 6px var(--fgColor);
}

.Artist__Image {
  height: var(--artistImageSize);
  width: 100%;
  object-fit: cover;
}

.Artist__Name {
  color: var(--bgColor);
  position: relative;
  top: -0.4em;
}
